@model CatalogItemModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - @Model.Name</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/pdetail.css">
</head>
<body>
    <section class="card product-block-info" data-catalogItemId="@Model.Id">
        <div class="product-image">
            <img src="/@Model.FullImageUrl" alt="presence">
        </div>
        <div class="product-block">
            <h2 class="product-name">@Model.Name</h2>
            <p class="product-material">Lorem ipsum dolor</p>
            <p class="product-description">
                @Model.Description
            </p>
            <div class="block-pri-size">
                <p class="product-price">@Model.Price</p>
                <p class="product-size-title">size guide</p>
            </div>
            <p class="product-size">@Model.Size</p>
            <button class="btnAddToBasket">Add To Basket</button>
        </div>
    </section>
    <script src="~/js/basket.js"></script>
    <script src="~/js/script.js"></script>
</body>