@model CatalogItemModel

<!DOCTYPE html>
<html>
<head>
    <title>Product Details - @Model.Name</title>
    <!-- Додайте ваші CSS файли тут -->
</head>
<body>
    <h1>Product Details - @Model.Name</h1>
    <div>
        <h2>Product Name: @Model.Name</h2>
        <p>Size: @Model.Size</p>
        <p>Price: @Model.Price</p>
        <p>Description: @Model.Description</p>овару, які вам потрібні -->
    </div>

    <!-- Додайте кнопку або посилання для повернення на попередню сторінку -->
    <!-- Додайте ваші JavaScript файли тут -->
</body>
</html>
